body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carre {
    height: 200px;
    width: 200px;
    background-color: burlywood;
    margin: 5px;
    color: azure;
    text-align: center;
}
.bgVert {
    background-color: rgb(18, 49, 39); 
}